
<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Remocon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- for responsive -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- font awesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <!-- ionicons -->
  <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />

  <%= csrf_meta_tags %>

</head>
<body class="skin-purple-light">
  <div class="wrapper">

    <!-- トップメニュー -->
    <%= render "layouts/header" %>


    <!-- content -->
    <div class="container" style="min-height: 600px;">
      <!-- コンテンツヘッダ -->
      <section class="content-header">
        <h1>
          General UI
          <small>Preview of UI elements</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a href="#">UI</a></li>
          <li class="active">テスト</li>
        </ol>
      </section>

      <!-- メインコンテンツ -->
      <section class="content">
        <%= render "shared/flash_box" %>
        <!-- コンテンツ1 -->
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </section>

    </div><!-- end content -->
    <%= render "layouts/setting_sidebar" %>

  </div><!-- end wrapper -->

  <!-- JS -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>