
<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Remocon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- for responsive -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- font awesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <!-- ionicons -->
  <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />

  <%= csrf_meta_tags %>

</head>
<body class="fixed hold-transition  login-page skin-black-light">

  <!-- トップメニュー -->
  <%= render "layouts/header" %>

  <!-- content -->
  <div class="content-wrapper">
    <div class="login-box">
      <!-- コンテンツヘッダ -->
      <div class="login-logo">
        Remocon
      </div>
      <!-- /.login-logo -->

      <%= render "shared/flash_box" %>


      <!-- メインコンテンツ -->
      <%= yield %>

    </div>
  </div><!-- end content -->


  <%= debug(params) if Rails.env.development? %>

  <!-- JS -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>